@font-face {
  font-family: Cubic;
  src: url('../assets/fonts/cubic.ttf');
}

@font-face {
  font-family: 'Lovelo Line Bold';
  src: url('../assets/fonts/Lovelo_Line_Bold.otf');
}

@font-face {
  font-family: 'Lovelo Black';
  src: url('../assets/fonts/Lovelo_Black.otf');
}

body {
    margin: 0;
    width: 100vw;
    /* height: 100vh; */
    background: #ecf0f3;
    /* background: #FFD944; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    /* overflow: hidden; */
    font-family: 'Dosis', sans-serif;
}

.container {
    position: relative;
    /* position: absolute; */
    width: 400px;
    /* height: 700px; */

    border-radius: 20px;
    padding: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    /* background: #ecf0f3; */
    background: #FDDD80;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    /* box-shadow: 14px 14px 20px #ddc04a, -14px -14px 20px rgb(237, 192, 32); */
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
  }

#tophead{
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}


.header i{
    position: relative;
    font-size: 20px;
  }



input{
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
    color: gray;
  }

  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  /* destinaton selection */
  #To,#From,#Day{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  #People{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  #sideby{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #To option,#From option,#Day option,#People option{
    background-color:#A6BB8D;
    color: #666; 
  }
  .inputs {
    display: flex;
      text-align: left;
      margin-top: 5px;
  
  }
  .inputs2,.inputs3,.inputs4{
    display: flex;
    text-align: left;
    margin-top: 30px;  
  }
  .inputs p{
    margin-top: 15px;
    margin-right: 25px ;
    font-size: 17px;
    font-weight: bold;

  }
  .inputs2 p,.inputs3 p,.inputs4 p{
    font-weight: bold;
    margin-top: 15px;
    margin-right: 5px ;
    font-size: 17px;
  }
  .time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fixTime{
    background-color: #ecf0f3;
    border-radius: 10px;
    padding: 20px;
    min-height: 150px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .fixTime .people1{
    background-color: #DDDDDD;
    text-align: left;
    padding: 4px 20px 4px;
    margin-top: 4px;
    border-radius: 20px;
    
  }
  .fixTime .people1 input{
    background: #ecf0f3;
    /* padding:0px; */
    /* padding-left: 10px; */
    /* margin-top: 10px; */
    margin-bottom: -10px;
    margin-left: 100px;
    height: 20px;
    /* font-size: 14px; */
    border-radius: 50px;
    box-shadow: inset 0px 0px 0px #cbced1, inset 0px 0px 0px white;
    width: 20%;
    margin: 2px 2px 2px;
}
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.info .name{
  margin-left: 2px;
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info .time{
margin: 2px 15px;
}

/* navbar */
/* logo */
#logo{
  display: flex;
  align-items: center;
}
#header{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
#header ul{
  margin-block-start: 1em;
    margin-block-end: 1em;
    padding:  0px;
}
.person_image{
    height: 40px;
    width: 40px;
    background: url("../IMG/logo.jpg");
    background-size: 100%;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 5px;
    /* box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white; */
    /* box-shadow: 14px 14px 20px #ddc04a, -14px -14px 20px rgb(237, 192, 32); */
}
.brand-title {
  margin-top: 1px;
  font-weight: 900;
  font-size: 1rem;
  color: #5D8233;
  letter-spacing: 1px;
  font-family: 'Lovelo Black';
}

.brand-title .auto{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #FFB44A;
    
}

.brand-title .hiphen{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 1px;
    color: black;
}

/* navbar */
/* #navbar{
  display: flex;
  justify-content: space-between;
}
#navbar li{
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
  align-content: center;
}
#navbar li a{
  text-decoration: none;
} */
/* #navbar li i{ */
  /* color:#5D8233; */
  /* color: #357C3C;
  border-color: #357C3C;
  background: #fff;
  cursor: pointer;
  height: 30px;
  border-radius: 20px;
  width: 30px;
  margin-top: 15px; */
  /* box-shadow: 14px 14px 20px #d1b95a, -14px -14px 20px rgb(218, 190, 89); */
  /* transition: 0.5s;
  align-content: center; */

  /* padding: 1px; */

/* } */



#tophead button{
  /* background-color: #E5E0FF;
  width: 70px;
  border-radius: 5px;
  border: transparent solid;
  box-shadow: rgba(0,0,0, 1);
  height: 22px; */
  color: white;
  margin-top: 5px;
  border-color: #357C3C;
  background: #357C3C;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  box-shadow: 14px 14px 20px #d1b95a, -14px -14px 20px rgb(218, 190, 89);
  transition: 0.5s;
}
#signinButton button:hover{
  /* background-color: #CDE990; */
  box-shadow: none;
}

#Submit_buttons button{
  /* background-color: #E5E0FF;
  width: 70px;
  border-radius: 5px;
  border: transparent solid;
  box-shadow: rgba(0,0,0, 1);
  height: 22px;
  margin-bottom: 20px;
  margin-left: 20px; */
  color: white;
  margin-top: 5px;
  border-color: #357C3C;
  background: #357C3C;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  box-shadow: 14px 14px 20px #d1b95a, -14px -14px 20px rgb(218, 190, 89);
  transition: 0.5s;
  margin-bottom: 20px;
  /* margin-bottom: 20px; */
  margin-left: 30px;
  margin-right: 30px;
}
#Submit_buttons button:hover{
  /* background-color: #CDE990; */
  box-shadow: none;
}





